<!DOCTYPE html>
<html lang="en">

@{
    var userId = Context.Session.GetInt32("UserId");
    var fullName = Context.Session.GetString("FullName");
    var avatarUrl = Context.Session.GetString("AvatarUrl");
    var RoleID = Context.Session.GetString("RoleID");
    var cartItemCount = Context.Session.GetInt32("CartItemCount") ?? 0; // Example of getting cart item count
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KoiCareSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KoiCareSystem.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" /> <!-- FontAwesome for icons -->
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand text-white" asp-area="" asp-page="/Index">KoiCareSystem</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav">
                        @if (string.IsNullOrEmpty(fullName))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-page="/Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-page="/Privacy">Privacy</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-page="/FoodItemShop">FoodShop</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-page="/Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-page="/Privacy">Privacy</a>
                            </li>
                        }
                    </ul>

                    <ul class="navbar-nav ms-auto">
                        @if (!string.IsNullOrEmpty(fullName)) 
                        {
                            <!-- Cart Icon -->
                            <li class="nav-item">
                                <a class="nav-link position-relative text-white" href="/Cart">
                                    <i class="fas fa-shopping-cart"></i> Cart
                                    @if (cartItemCount > 0)
                                    {
                                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                            @cartItemCount
                                            <span class="visually-hidden">cart items</span>
                                        </span>
                                    }
                                </a>
                            </li>

                            <!-- User Profile Dropdown -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="@avatarUrl" alt="Avatar" class="rounded-circle" style="width: 30px; height: 30px;" />
                                    @fullName
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="/AccountPage/Details?id=@userId">Profile</a></li>
                                    <li><a class="dropdown-item" href="/ResetPassword">Reset Password</a></li>
                                    <li><a class="dropdown-item" href="/UserPaymentHistory">Payment History</a></li>
                                    <li>
                                        <a class="dropdown-item" href="@(RoleID == "admin" ? "/AccountPage" : "/CustomerPage")">Manage</a>
                                    </li>
                                    <li><a class="dropdown-item" href="/Logout">Logout</a></li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" href="/Login">Login</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


@*         <footer class="text-center text-lg-start" style="background-color: #007bff;">
            <div class="container d-flex justify-content-center py-5">
                <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
                    <i class="fab fa-facebook-f"></i>
                </button>
                <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
                    <i class="fab fa-youtube"></i>
                </button>
                <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
                    <i class="fab fa-instagram"></i>
                </button>
                <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
                    <i class="fab fa-twitter"></i>
                </button>
            </div>

            <!-- Copyright -->
            <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2020 Copyright:
                <a class="text-white" href="/">Koi Care</a>
            </div>
            <!-- Copyright -->
        </footer>
    <!-- End of .container --> *@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
