@page
@model KoiCareSystem.Pages.CareSchedulePage.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CareSchedule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CareSchedule.PondId" class="control-label"></label>
                <select asp-for="CareSchedule.PondId" class ="form-control" asp-items="ViewBag.PondId"></select>
                <span asp-validation-for="CareSchedule.PondId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CareSchedule.CareType" class="control-label"></label>
                <input asp-for="CareSchedule.CareType" class="form-control" />
                <span asp-validation-for="CareSchedule.CareType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CareSchedule.Details" class="control-label"></label>
                <input asp-for="CareSchedule.Details" class="form-control" />
                <span asp-validation-for="CareSchedule.Details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CareSchedule.ScheduledDate" class="control-label"></label>
                <input asp-for="CareSchedule.ScheduledDate" class="form-control" />
                <span asp-validation-for="CareSchedule.ScheduledDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CareSchedule.Status" class="control-label"></label>
                <input asp-for="CareSchedule.Status" class="form-control" />
                <span asp-validation-for="CareSchedule.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
