@page
@model KoiCareSystem.Pages.OrderDetailPage.CreateModel

<h1>Create Order Detail</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="OrderDetail.OrderId"></label>
        <input asp-for="OrderDetail.OrderId" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="OrderDetail.FoodItemId"></label>
        <input asp-for="OrderDetail.FoodItemId" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="OrderDetail.Price"></label>
        <input asp-for="OrderDetail.Price" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="OrderDetail.Quantity"></label>
        <input asp-for="OrderDetail.Quantity" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="OrderDetail.Total"></label>
        <input asp-for="OrderDetail.Total" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
