@page
@model KoiCareSystem.Pages.CustomerPage.ManageKoiFish.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>KoiFish</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="KoiFish.Id" />
            <div class="form-group">
                <label asp-for="KoiFish.FishName" class="control-label"></label>
                <input asp-for="KoiFish.FishName" class="form-control" />
                <span asp-validation-for="KoiFish.FishName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KoiFish.ImagePath" class="control-label">Upload Image</label>
                <input type="file" asp-for="ImageFile" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KoiFish.Age" class="control-label"></label>
                <input asp-for="KoiFish.Age" class="form-control" />
                <span asp-validation-for="KoiFish.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KoiFish.Species" class="control-label"></label>
                <input asp-for="KoiFish.Species" class="form-control" />
                <span asp-validation-for="KoiFish.Species" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KoiFish.Gender" class="control-label"></label>
                <input asp-for="KoiFish.Gender" class="form-control" />
                <span asp-validation-for="KoiFish.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KoiFish.Origin" class="control-label"></label>
                <input asp-for="KoiFish.Origin" class="form-control" />
                <span asp-validation-for="KoiFish.Origin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KoiFish.Note" class="control-label"></label>
                <input asp-for="KoiFish.Note" class="form-control" />
                <span asp-validation-for="KoiFish.Note" class="text-danger"></span>
            </div>
@*             <div class="form-group">
                <label asp-for="KoiFish.CreatedTime" class="control-label"></label>
                <input asp-for="KoiFish.CreatedTime" class="form-control" />
                <span asp-validation-for="KoiFish.CreatedTime" class="text-danger"></span>
            </div> *@
@*             <div class="form-group">
                <label asp-for="KoiFish.Deleted" class="control-label"></label>
                <input asp-for="KoiFish.Deleted" class="form-control" />
                <span asp-validation-for="KoiFish.Deleted" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/CustomerPage/Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
